/build/file-saxon-*.xar
/build/file-saxon-*/
/file-java/nbproject/private/
/file-java/dist/
/file-java/build/
/file-java/test-rsrc/stage/
/file-saxon/nbproject/private/
/file-saxon/dist/
/file-saxon/build/
